<div class="quiz-container">
  <h1>Index View</h1>
  <h3>Please choose your flight:</h3>
  <% @flights.each do |flight| %>
    <a href=""><%= flight.route %></a>
  <% end %>

  <h3>Please answer these questions:</h3>

  <% @questions.each do |question| %>
    <div class="qa-container" id="<%=question.id%>">
      <h4><%= question.content %></h4>
      <% question.answers.each do |answer| %>
        <div class="answer-button"><%= answer.content %></div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="movies">
</div>
