<h1>Movies#show</h1>
<h3>You should watch...</h3>
<% @final_movies.each do |movie| %>
  <div>
    <h3><%= movie.title %></h3>
    <p><%= movie.info %></p>
  </div>
<% end %>
<p><%= @final_movies.length %>
